<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Hello from server!!</h1>
    <h1>URL Shortener</h1>
    <% if(locals.id){  %>
      <p>The generated short url : http://localhost:8001/<%=id%></p>
    <%}%>
    <form method="POST" action="/url">
        <label for="redirectUrl">Enter URL:</label>
        <input 
            type="text" 
            name="redirectUrl" 
            id="redirectUrl" 
            placeholder="https://example.com"
            required
        />

        <button type="submit">Shorten</button>
    </form>

</body>
</html>
