.block {
  width: 100px;
  height: 100px;

  display: flex;              /* activate flex */
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */

  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.block:hover {
  background-color: #f0f0f0;
}
