/* Center whole board */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Board container */
.block {
  display: flex;
  flex-direction: column;
  border: 2px,solid,black;
}

/* Each row */
.row {
  display: flex;
}
